<nav class="nav-bar-container make-sticky">
    <div class="logo-head"><span>Anaswara</span></div>
    <div class="nav-items">
      <div class="item"><a href='/'>Home</a></div>
      <div class="item"><a href='/about'>About</a></div>
      <div class="item"><a href='/project'>Project</a></div>
      <div class="item">Vision</div>
      <div class="item"><a href='/contact'>Contact</a></div>
    </div>
  </nav>
 
 <div class="boddy">Goals</div>

<div class="goal-container">
   


    <div class="goal-card">
        <h2 class="goal-title">Short-Term Goal</h2>
        <ul class="goal-list">
            <li>Complete my master’s degree with high grades.</li>
            <li>Develop impactful projects that address real-world problems and demonstrate practical skills.</li>
            <li>Increase my programming skills in different languages.</li>
            <li>Secure an internship  to gain industry experience and work with top professionals.</li>
            <li>Complete an online course that enhances my skill set and broadens my knowledge base in key areas.</li>
        </ul>
    </div>
   
   
    <div class="goal-card">
        <h2 class="goal-title">Long-Term Goal</h2>
        <ul class="goal-list">
            <li>Achieve a teaching job to share knowledge .</li>
            <li>Achieve financial success and stability .</li>
            <li>build a home in my own earning and follow a peaceful life.</li>
            <li>Travel to different countries to explore the world , cultural understanding, experience diverse lifestyles.</li>
            <li>Engage in charity work to give back to the community.</li>
        </ul>
    </div>
</div>




<section class="footer" style="margin-top: 46px;">
    <div class="footer-row">
    <div class="footer-col">
        <h4>Anaswara M A</h4>
        <p>
          Graduated from Kerala University.
        </p>
        <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
      <div class="footer-col">
        <h4>Info</h4>
         <ul class="links">
          <li><a href="#">Home Page</a></li>
          <li><a href="#">About Page</a></li>
          <li><a href="#">Vision Page</a></li>
          <li><a href="#">Projects Page</a></li>
          <li><a href="#">Contact Page</a></li>
        </ul> 
      </div>
      <div class="footer-col">
        <h4>Projects</h4>
        <ul class="links">
          <li><a href="#">Cloud security using hybrid cryptography</a></li>
          <li><a href="#">Village Tourism Website</a></li>
          
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact</h4>
        <ul class="links">
          <li><a href="#">Mobile : +91 9074235261</a></li>
          <li><a href="#">anaswaram21gmail.com</a></li>
          
        </ul>
      </div>
      
    </div>
    </section>
    

<router-outlet />
