 <div class="boddy">Goals</div>
<div class="line1"><hr></div>
<div class="line2"><hr></div>
<div class="goal-container">
   
    <div class="goal-card">
        <h2 class="goal-title">Short-Term Goal</h2>
        <ul class="goal-list">
            <li>Complete my master’s degree with high grades.</li>
            <li>Develop impactful projects that address real-world problems and demonstrate practical skills.</li>
            <li>Increase my programming skills in different languages.</li>
            <li>Secure an internship  to gain industry experience and work with top professionals.</li>
            <li>Complete an online course that enhances my skill set and broadens my knowledge base in key areas.</li>
        </ul>
    </div>
   
   
    <div class="goal-card">
        <h2 class="goal-title">Long-Term Goal</h2>
        <ul class="goal-list">
            <li>Achieve a teaching job to share knowledge .</li>
            <li>Achieve financial success and stability .</li>
            <li>build a home in my own earning and follow a peaceful life.</li>
            <li>Travel to different countries to explore the world , cultural understanding, experience diverse lifestyles.</li>
            <li>Engage in charity work to give back to the community.</li>
        </ul>
    </div>
</div>


<router-outlet />
